header, #content, footer {
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    @media (max-width: $mobileMaxLarge) {
        width: calc(100% - 40px);
        margin: 0 20px;
    }
}

header {
    height: $titleTextSize + 2*$titleTextMargin;
    border-bottom: 1px solid $sectionBorderColor;
    margin-bottom: 25px;
    @media (max-width: $mobileMaxSmall) {
        height: auto;
    }
    h1 {
        display: inline-block;
        float: left;
        height: $titleTextSize;
        font-size: $titleTextSize;
        margin: $titleTextMargin 0;
        @media (max-width: $mobileMaxSmall) {
            display: block;
            float: none;
        }
        a {
            display: block;
            color: black;
            text-decoration: none;
        }
    }
    ul {
        display: inline-block;
        float: right;
        height: $titleTextSize;
        line-height: $titleTextSize;
        margin: $titleTextMargin 0;
        padding: 0;
        list-style: none;
        @media (max-width: $mobileMaxSmall) {
            display: block;
            float: none;
        }
        li {
            display: inline-block;
            float: left;
            &:not(:first-child) {
                margin-left: 10px;
                &::before {
                    font-size: $navLinkTextSize;
                    content: '|';
                    margin-right: 10px;
                }
            }
            a {
                display: inline-block;
                font-size: $navLinkTextSize;
                font-weight: lighter;
                color: black;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

#content h1:first-child {
    margin-top: 0;
}

.post-title {
    margin-bottom: 0;
}
.post-date {
    margin-top: 0;
    font-size: $fontSmallSize;
}

.resume {
    display: block;
    width: 50%;
}

.post-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        display: block;
        .post-date {
            font-size: $fontSmallSize;
        }
        p {
            margin-top: 5px;
            margin-left: 15px;
        }
    }
}

footer {
    position: relative;
    border-top: 1px solid $sectionBorderColor;
    margin-top: 25px;
    color: #777;
    font-size: 14px;
    .footer-float-wrapper {
        overflow: hidden;
    }
    .footer-column {
        display: inline-block;
        width: $thirdPercent;
        margin-top: 20px;
        &.left-footer-column {
            float: left;
        }
        &.right-footer-column {
            float: right;
        }
    }
    .copyright-footer-column {
        position: absolute;
        top: 0;
        left: $thirdPercent;
        @media (max-width: $mobileMaxSmall) {
            display: block;
            position: inherit;
            top: inherit;
            left: inherit;
            width: 100%;
        }
    }
    #profile-links {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    #profile-links li {
        display: inline-block;
        float: right;
        margin-left: 15px;
    }
    #profile-links a {
        display: block;
        text-indent: 1000px;
    }
    #github-link {
        height: 30px;
        width: 30px;
        background-image: url('../img/github-mark.png');
        background-size: 30px 30px;
    }
    #linkedin-link {
        height: 30px;
        width: 39px;
        background-image: url('../img/linkedin-bug.png');
        background-size: 39px 30px;
    }
}
