body {
    margin: 0;
    padding: 0;
    font-family: $fontFamily;
    font-size: $fontSize;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

a:hover {
    text-decoration: none;
}
