/**
 * Global variables
 */

$thirdPercent: 100% / 3;

$fontFamily: Helvetica, sans-serif;
$fontSize: 16px;
$fontSmallSize: 12px;

$sectionBorderColor: #CCC;

/**
 * Layout
 */

// Breakpoints
$mobileMaxLarge: 1040px;
$mobileMaxSmall: 590px;
$mobileNavBreakpoint: 650px;

// Header
$titleTextSize: 32px;
$titleTextMargin: 20px;
$navLinkTextSize: 20px;
