/**
 * Global variables
 */

$fontFamily: Helvetica, sans-serif;
$fontSize: 16px;

/**
 * Layout
 */

// Header
$titleTextSize: 32px;
$titleTextMargin: 20px;
$navLinkTextSize: 20px;

// Content


// Footer