<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} | dpk2442.me</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

    <header>
        <h1><a href="/">dpk2442.me</a></h1>
        <a href="#" id="nav-mobile-toggle"><span class="fa fa-bars"></span></a>
        <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About Me</a></li>
            <li><a href="/resume/">My Resume</a></li>
            <li><a href="/posts/">Posts</a></li>
        </ul>
    </header>

    <div id="content">
        {{ content }}
    </div>
    
    <footer>
        <div class="footer-float-wrapper">
            <div class="footer-column left-footer-column">
                <a href="mailto:dave@dpk2442.me">dave@dpk2442.me</a>
            </div>
            <div class="footer-column right-footer-column text-right">
                <ul id="profile-links">
                    <li><a href="https://github.com/dpk2442" id="github-link" title="GitHub">GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/dpk2442" id="linkedin-link" title="LinkedIn">LinkedIn</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-column copyright-footer-column text-center">
            Copyright &copy; 2015 David Korhumel
        </div>
    </footer>

    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>

</body>
</html>
